@import "../globals.scss";
.cont-main {
  position: fixed;
  z-index: 11;
  top: 0;
  width: 100%;
}

.cont-menu {
  position: absolute;
  color: #fff;
  height: 0vh;
  background-color: transparent;
  opacity: 0;
  top: -100vh;
  width: 100%;
  border-radius: 100%;
  @include divGenerico;
  transition: all 1s ease;
  .list {
    list-style-type: none;
    width: 70%;
    .list-cont {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0 2rem 0;
      li > a {
        font-size: $fontTamnio !important;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
      }
      .icono {
        transform: rotate(45deg);
        font-size: $fontTamnio;
        transition: 500ms ease;
        &:hover {
          transform: rotate(90deg);
        }
      }
    }
  }
}
.activo {
  z-index: -1;
  top: 0;
  border-radius: 0;
  opacity: 1;
  height: 100vh;
  width: 100%;
  background-color: $colorNegro;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.menu-fondo {
  padding: 1rem;
}
.icon {
  margin: 20px;
}
.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span {
  background-color: $colorRojo;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}
.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}
