@import "../globals.scss";
.catering-hero-title {
  @include heroPages;
}
.hero-cont {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.video-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cateringsvg-container {
  background-color: $colorBlanco;
  padding: 10% 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  .svg-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2;
    .svg-box {
      opacity: 0;
      scale: 0.1;
      flex: 1;
    }
  }
}

@media (max-width: 600px) {
  .hero-cont {
    overflow: hidden;
    height: 30vh;
  }
}
