.cls-3 {
  fill: #c6c7c9;
}

.apartment-surface {
  transition: fill 0.3s ease-in-out;
  cursor: pointer;
}

.apartment-surface:hover {
  fill: #ffdc9a !important;
}

.apartment-text {
  transition: fill 0.3s ease-in-out;
}

.apartment-group {
  cursor: pointer;
}

.animateInPlant {
  animation: opacityIn 0.5s ease-in-out;
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .rotateMobile {
    transform: rotate(-90deg) !important;
  }
  .esquemasMobile {
    transform: rotate(-90deg) !important;
    top: 0 !important;
    left: 50% !important;
    translate: -50% 0 !important;
  }
  .esquemasMobilePb {
    transform: rotate(-90deg) !important;
    top: 35px !important;
    left: 50% !important;
    translate: -50% 0 !important;
  }
}
@media (max-width: 410px) {
  .rotateMobile {
    scale: 1.3;
  }
}
